* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: 100vh;
  text-align: left;
  color: #000000;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-family: "Roboto";
  overflow: hidden;
  background-image: url(./images/osaka.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  opacity: 0.9;
}

header span {
  font-size: 56px;
}

header p {
  padding-top: 55vh;
  padding-left: 4vw;
  font-size: 24px;
  max-width: 550px;
  opacity: 1;
  animation: wordDisplay 4s;
}

@keyframes wordDisplay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  background-color: #f4f4f4;
  padding: 10px;
}

main section {
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

main h1.headline {
  font-size: 3rem;
  z-index: 1;
  position: relative;
  top: 60px;
}

main h1.headlineBase {
  font-size: 4rem;
  color: #f4f4f4;
  z-index: 0;
}

main h1.rightSide {
  text-align: right;
}

main h1.rightSideOutline {
  text-align: right;
}

main h1.line1 {
  position: relative;
  top: 20px;
  left: -30px;
  text-shadow: -1px 0 #f37121, 0 1px #f37121, 1px 0 #f37121, 0 -1px #f37121;
}

main h1.line2 {
  position: relative;
  top: 20px;
  left: 30px;
  text-shadow: -1px 0 #16817a, 0 1px #16817a, 1px 0 #16817a, 0 -1px #16817a;
}

main h1.line3 {
  position: relative;
  top: 30px;
  left: 20px;
  text-shadow: -1px 0 #f19292, 0 1px #f19292, 1px 0 #f19292, 0 -1px #f19292;
}

main h1.line4 {
  position: relative;
  top: 30px;
  left: -20px;
  text-shadow: -1px 0 #035aa6, 0 1px #035aa6, 1px 0 #035aa6, 0 -1px #035aa6;
}

main div {
  z-index: 2;
}

button.MuiFab-primary {
  background-color: #85a392;
}

button.MuiFab-primary:hover {
  background-color: #85a392;
}

div.MuiSpeedDial-root {
  align-items: flex-end;
}

button.speed-dial-icon-button {
  position: relative;
  top: -2px;
}

button.MuiFab-sizeSmall {
  width: 55px;
  height: 55px;
}

button.MuiSpeedDialAction-fab {
  margin: 10px 0 0 0;
}

@media only screen and (max-width: 480px) {
  header p {
    padding-top: 50vh;
  }

  main h1.headline {
    font-size: 2rem;
    top: 20px;
  }

  main h1.headlineBase {
    font-size: 3rem;
  }

  main h1.line1 {
    top: 10px;
    left: -20px;
  }
  main h1.line2 {
    top: 10px;
    left: 20px;
  }
  main h1.line3 {
    top: 20px;
    left: 10px;
  }
  main h1.line4 {
    top: 20px;
    left: -10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  main h1.headline {
    font-size: 2rem;
    top: 40px;
  }

  main h1.headlineBase {
    font-size: 3rem;
  }

  main h1.line1 {
    top: 5px;
    left: -10px;
  }
  main h1.line2 {
    top: 5px;
    left: 10px;
  }
  main h1.line3 {
    top: 10px;
    left: 5px;
  }
  main h1.line4 {
    top: 10px;
    left: -5px;
  }
}
